<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Furniture Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Furniture</h1>
    <form class="form-group" action="/admin/furniture/furnitureEdit" th:action="@{/admin/furniture/furnitureEdit}"
          method="post" enctype="multipart/form-data">
        <input th:type="hidden" name="id" th:field="${furniture.id}" title=""/>
        <div class="form-group">
            <label>Furniture</label>
            <div class="form-group">
                <label>Color</label>
                <div>
                    <select th:field="*{furniture.color}">
                        <option value=""></option>
                        <option th:each="colors : ${color}"
                                th:value="${colors.id}"
                                th:text="${colors.name}"></option>
                    </select>
                </div>
            </div>
            <label>Description</label>
            <input type="text" class="form-control" th:field="${furniture.description}" title=""/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/admin/furniture/}" class="btn btn-danger" role="button">Cancel</a>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>